.main-title {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #bdbdbd;
	margin-bottom: 1rem;
}

.main-title h2 {
	font-weight: 600;
	font-size: 0.875rem;
	padding: 0 2rem;
	padding-bottom: 1rem;
}

.main-title h2:hover {
	cursor: pointer;
	padding: 0 2rem;
	border-bottom: 4px solid #2f80ed;
}
.active {
	padding: 0 2rem;
	border-bottom: 4px solid #2f80ed;
}
