*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	text-align: center;
	color: #333;
	font-size: 0.875rem;
	font-family: 'Montserrat', sans-serif;
	padding: 2rem 0;
	display: grid;
	position: relative;
	justify-content: center;
}

#root {
	width: 100vw;
	display: grid;
	justify-content: center;
}
